@font-face {
    font-family: 'Poppins-Medium';
    src: url(../assets/fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: 'Poppins-SemiBold';
    src: url(../assets/fonts/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url(../assets/fonts/Poppins-Bold.ttf);
}

.title {
    font-family: 'Poppins-Bold', sans-serif;
    font-size: 40px;
    padding: 150px 40px 0;
    text-align: center;
}

.text-container {
    padding: 100px 250px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.text {
    font-family: 'Poppins-Medium';
    font-size: 16px;
    line-height: 22px;
    color: #333333;
}

@media (max-width: 1200px) {
    .text-container {
        padding: 100px 150px;
    }
}

@media (max-width: 800px) {
    .title {
        padding: 120px 20px 0;
        font-size: 30px;
    }

    .text-container {
        padding: 40px;
    }
}